@model TrainingDiary.ViewModels.PlayerViewModel

<h4>
    Are you sure you want to remove this player?
</h4>
<hr />
<p>
    Removing a player will remove the connection with him.
    <br />
    That means you won't be his trainer.
</p>
<div>
    <h4>Player details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LicenceNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShoeSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShoeSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExaminationDeadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExaminationDeadline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Injured)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Injured)
        </dd>
    </dl>

    <form asp-action="DeleteConnection">
        <input type="hidden" asp-for="Email" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
