@model TrainingDiary.ViewModels.MessageViewModel
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inbox[0].Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inbox[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inbox[0].SendDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model.Inbox)
        {
            string rowStyle = string.Empty;
            if (!message.IsReadByReceiver)
            {
                rowStyle = "font-weight:bold";
            }

            <tr style="@rowStyle">
                <td>
                    @Html.DisplayFor(modelItem => message.Sender.FirstName) @Html.DisplayFor(modelItem => message.Sender.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => message.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => message.SendDate)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@message.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@message.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
</table>
